
html {
  min-height: 100%;
}

body {
  background: linear-gradient(black, white);
}

h1 {
  font-size: 60px;
  color: white;
}

header p {
  font-size: larger;
  color: white;
}

.jumbotron {
  background-color: black;
  border: dotted red 1px;
}

.currentDay{
  color: red;
}

#clearBtn {
margin-left: 50px;
}

#clearBtn:hover {
  background-color: rgb(221, 161, 156);
}

.above-timeblocks{
  color: black;
  text-shadow: 1px 1px 2px red;
}

.saveBtn:hover {
  background-color: rgb(131, 227, 131);
}

.deleteBtn:hover {
  background-color: rgb(221, 161, 156);
}

.row {
  display: flex;
  justify-content:end;
}

.time-of-day {
  color: white;
  font-weight: bold;
  font-size: larger;
  background-color: black;
  border: dotted red 1px;
}

.saveBtn i:hover {
  transition: all 0.3s ease-in-out;
}

/* mobile responsive */
@media screen and (max-width: 600px) {
  header {
    font-size: smaller;
  }
  .container {
    display: table-row-group;
  }
  .saveBtn, .deleteBtn {
    padding: 0px;
  }
  .row {
      margin: 0px;
      padding: 0px;
  }
  #clearBtn {
    margin-left:15px;
    margin-bottom: 20px;
  }
  .above-timeblocks {
    visibility: hidden;
  }
}
